@import "normalize";
@import "settings";

// Make sure the charset is set appropriately
@charset "UTF-8";

// Behold, here are all the Foundation components.
@import
  "foundation/components/grid",
  "foundation/components/accordion",
  "foundation/components/alert-boxes",
  "foundation/components/block-grid",
  "foundation/components/breadcrumbs",
  "foundation/components/button-groups",
  "foundation/components/buttons",
  "foundation/components/clearing",
  "foundation/components/dropdown",
  "foundation/components/dropdown-buttons",
  "foundation/components/flex-video",
  "foundation/components/forms",
  "foundation/components/icon-bar",
  "foundation/components/inline-lists",
  "foundation/components/joyride",
  "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/magellan",
  "foundation/components/orbit",
  "foundation/components/pagination",
  "foundation/components/panels",
  "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/range-slider",
  "foundation/components/reveal",
  "foundation/components/side-nav",
  "foundation/components/split-buttons",
  "foundation/components/sub-nav",
  "foundation/components/switches",
  "foundation/components/tables",
  "foundation/components/tabs",
  "foundation/components/thumbs",
  "foundation/components/tooltips",
  "foundation/components/top-bar",
  "foundation/components/type",
  "foundation/components/offcanvas",
  "foundation/components/visibility";

@import "appstyles";
@import url(http://fonts.googleapis.com/css?family=Oswald:300|Roboto|Droid+Sans);
//---------------------------------------
//-------------M I X I N S---------------
//---------------------------------------
@mixin media($type) {
  @if $type == desktop {
    @media only screen and (min-width: 1025px) {
      @content;
    }
  }
  @if $type == tablet {
    @media only screen and (min-width: 641px) {
      @content;
    }
  }
  @else if $type == mobile {
    @media only screen and (max-width: 640px) {
      @content;
    }
  }
}

@mixin background-image($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; 
  background-size: cover;
}

html {
  padding: 0 0;
  body {
    background: #222222;
    padding: 0 0;
    & > .row {
      margin: 0 0;
    }
  }
}

#page-splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 500px;
  padding: 0 0;
  @include background-image('/images/splash.jpg');
  #splash-title h1{
    font-family: 'League Gothic';
    text-align: center;
    color: ivory;
    font-size: 7em;
    line-height: 1em;
  }
  #splash-donate-button {
    width: 200px;
    margin: 0 auto;
  }
}

#page-programs {
  @include background-image('/images/programs.jpg');
  overflow-y: scroll;
  & > .row > h1 {
    font-family: 'League Gothic';
    font-size: 4em;
    letter-spacing: .1em;
    margin-top: .4em;
    color: ivory;
    text-align: center;
  }
  span.fa-stack {
    font-size: 7em;
    width: 100%;
    @include media(mobile) {
      font-size: 5em;
    }
  }
  p, h2, h4{
    font-family: 'Droid Sans';
    color: ivory; 
  }
  h2 {
    color: ivory;
    text-align: center;
  }
  h4 {
    text-align: center;
  }
  p {
    padding: 10px;
    text-align: justify; 
    background-color: rgba(#222222, 0.75);
  }
}

#page-members {
  background-color: ivory;
  height: 500px;
}

.full-width {
 width: 100%;
 margin-left: auto;
 margin-right: auto;
 max-width: initial;
}
