@import "settings";
@import "normalize";

// Make sure the charset is set appropriately
@charset "UTF-8";

// Behold, here are all the Foundation components.
@import
  "foundation/components/grid",
  "foundation/components/block-grid",
  "foundation/components/clearing",
  "foundation/components/forms",
  "foundation/components/labels",
  "foundation/components/top-bar",
  "foundation/components/breadcrumbs",
  "foundation/components/type";

@import "appstyles";
//---------------------------------------
//----------V A R I A B L E S------------
//---------------------------------------
$social-media-icons: "/images/social-media-icons.svg";

//---------------------------------------
//-------------M I X I N S---------------
//---------------------------------------
@mixin media($type) {
  @if $type == mobile {
    @media only screen and (max-width: 40em) {
      @content;
    }
  }
  @if $type == tablet {
    @media only screen and (min-width: 40.063em) {
      @content;
    }
  }
  @if $type == desktop {
    @media only screen and (min-width: 64.063em) {
      @content;
    }
  }
}

@mixin background-image($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center; 
  background-size: cover;
}

@mixin custom-icon($url) {
  width: 100%;
  height: 2em;
  margin-left: auto;
  margin-top: 0.7em;
  content: url($url);
  @include media(tablet) {
    height: 4em;
    margin-top: 0;
  }
  @include media(desktop) {
    height: 6em;
    margin-bottom: 0.45em;
  }
}

html {
  padding: 0 0;
  body {
    background: #222222;
    padding: 0 0;
    font-family: 'Droid Sans';
    & > .row {
      margin: 0 0;
    }
  }
}
h1 {
  font-family: 'League Gothic';
  font-size: 3.3em;
  letter-spacing: 0.05em;
  color: ivory;
  text-align: center;
  @media only screen and (max-width: 300px) {
    font-size: 16vmin;
  }
  @include media(tablet) {
    letter-spacing: 0.1em;
  }
}
h2 {
  font-family: 'League Gothic';
  font-size: 1.8em;
  letter-spacing: .05em;
  @include media(mobile) {
    margin-top: .3em;
    padding: 0px;
  }
  @include media(tablet) {
    float: none;
    text-align: center;
    margin: 0px;
  }
}
#page-splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: hidden;
  width: 100%;
  height: 500px;
  padding: 0 0;
  @include background-image('/images/splash.jpg');
  #splash-title {
    font-family: 'League Gothic';
    padding: 5px;
    text-align: center;
    color: ivory;
    font-size: 7em;
    line-height: 1em;
  }
  #splash-donate-button {
    width: 200px;
    margin: 0 auto;
  }

  #splash-social-media {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    & a {
      height: 40px;
      width: 40px;
      margin: 15px;
      div {
        height: 100%;
        width: 100%;
      }
    }

    #splash-social-media--facebook {
      background: url($social-media-icons);
    }

    #splash-social-media--twitter {
      background: url($social-media-icons) -40px 0;
    }

    #splash-social-media--instagram {
      background: url($social-media-icons) -80px 0;
    }
  }
}

#page-programs {
  @include background-image('/images/programs-alt.jpg');
  
  //program groups container
  ul {
    margin-bottom: 1em;
  }
  @include media(mobile) {
    .columns {
      padding: 0;
      margin: 0;
    }
  } 
  //program groups
  .blockgrid-li {
    padding: 0;
    margin-bottom: 5px;
    background-color: rgba(#222222, 0.75);
    @include media(tablet) {
      background-color: transparent;
    }
  }

  //icon styling
    i.fa {
      width: 100%;
      text-align: center;
      font-size: 2em;
      color: ivory;
      overflow: hidden;
      @include media(mobile) {
        height: 1em;
        margin-top: 0.35em;
      }
      @include media(tablet) {
        font-size: 4em;
      }
      @include media(desktop) {
        font-size: 6em;
      }
    }
    .icon-trans {
      @include custom-icon('/images/trans-icon.svg');
    }
    .icon-brain {
      //ICON USED FROM FLATICON.COM
      @include custom-icon('/images/brain-icon.svg');
    }

  //text styling
  p, h2, h5{
    color: ivory; 
  }
  h2 {
    clear: both;
    margin-left: 10px;  
  }
  h5 {
    font-family: 'Droid Sans';
    text-align: center;
    @include media(mobile) {
      margin-bottom: 0px;
      margin-top: 1em;
      font-size: 1em;
      &.margin-shift {
        margin-top: 0.5em;
      }
    }
    @include media(tablet) {
      clear: both;
    }
    &.spacer {
      display: none;
      visibility: hidden;
      @include media(tablet) {
        display: block;
      }
    }
  }
  p {
    margin: 0 0;
    padding: 10px;
    border-bottom: ivory;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    text-align: justify; 
    font-family: 'Droid Sans';
    @include media(tablet) {
      background-color: rgba(#222222, 0.75);
    }
  }
}

#page-about {
  background-color: ivory;

  h1 {
    color: #222222;
  }
  p {
    font-size: 1.5em;
    @include media(mobile) {
      text-align: justify;
    }
  }
}

#page-gallery {
    /*
  Stretchy Sprites by tobyj.net
  Feel free to copy and reuse as you like
  */
  /*Set the max-width to the width of your individual sprites:*/
  .stretchy {display:block; float:left; position:relative; overflow:hidden; max-width:325px;}
  .stretchy .spacer {width: 100%; height: auto;}
  .stretchy .sprite {position:absolute; top:0; left:0; max-width:none; max-height:100%;}
  @for $i from 1 through 12 {
    .stretchy .sprite.s#{$i + 1} {
      left: percentage(-$i);
    }
  }
  .stretchy.no-limit { max-width: none;} /*you could also set this to a pixel size, for example 320px, to limit the maximum*/
  .stretchy.no-limit .sprite {min-height: 100%;}

  /*END stretchy sprites by tobyj.net*/
  h1 {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
  }
  .gallery-block {
    padding: 0;
    margin: 0;
  }
}
#page-adopt-a-bike {
  background-color: ivory;
  padding: 1em;
  .icon-bicycle {
    width: 100%;
    height: 4em;
    margin: 1em auto;
    background: url('/images/bicycle-icon-alt.svg') no-repeat;
    background-size: 100% 100%;
  }
  h1 {
    color: #222222;
    text-decoration: overline;
  }
  p {
    padding: 10px;
  }
}
.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: inherit;
  overflow-x: hidden;
}
