doctype html
html(class="no-js", lang="en")
	include header
		title Success!
		meta(content="php, contact, form, success" name="keywords")
		meta(content="Contact made!" name="description")
	body
		h1 Thanks for writing to us!
		h2 We'll make sure you hit you up soon.
		include footer
