script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
// bower:js
script(async src='//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.2/fastclick.min.js')
// endbower
script(src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/js/foundation.min.js")
// build:js js/app.min.js
script(src="js/app.js")
// endbuild