// build:js js/vendor/libraries.min.js
// bower:js
script(src='bower_components/jquery/dist/jquery.js')
script(src='bower_components/fastclick/lib/fastclick.js')
// endbower
// endbuild
// build:js js/vendor/foundation.min.js
script(src="bower_components/foundation/js/foundation/foundation.js")
// endbuild
// build:js js/app.min.js
script(src="js/app.js")
// endbuild