head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    title Welcome to Troy Bike Rescue
    // build:css css/app.min.css
    link(rel="stylesheet", href="css/app.css")
    link(rel="stylesheet", href="css/app_override.css")
    // endbuild
    //script(async src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.min.js")