doctype html
html(class="no-js", lang="en")
	include header
	body
		.row.full-width
			#page-splash.small-12.columns
				#splash-title-container
					#splash-title TROY BIKE RESCUE
					#splash-donate-button
						form(action='https://www.paypal.com/cgi-bin/webscr', method='post')
							input(name='cmd', value='_s-xclick', type='hidden')
							input(name='hosted_button_id', value='7G4M6AM26W9T6', type='hidden')
							br
							input(src='/images/donate-button.svg', name='submit', alt='PayPal -The safer, easier way to pay online!', border='0', type='image')
							img(src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', height='1', width='1')
							br
		.row.full-width
			#page-about.small-12.columns
				.row
					h1 LEARN ABOUT US
				.row
					.small-12.medium-10.large-8.medium-centered.columns
						p.
							Troy Bike Rescue is a collective of cycling enthusiasts committed to removing 
							bikes from the waste stream and getting them back on the streets.  We help to 
							build bicycle community in the capital region through hands-on education.  We 
							accept donations of any bikes, parts, or tools. We are supported entirely by 
							donations of time and money from individual patrons like you.  Thank YOU!  
							We always seek more people willing to give their time and energy in support of our goals. 			
		.row.full-width
			#page-programs.small-12.columns
				.row
					h1 COME HANG OUT!
				.row
					.small-12.columns
						ul.small-block-grid-1.medium-block-grid-2.large-block-grid-4(data-equalizer)
							li.blockgrid-li
								.program(data-equalizer-watch)
									.small-1.medium-12.columns
										span.fa-stack
											i.fa.fa-circle.fa-stack-2x
											i.fa.fa-graduation-cap.fa-stack-1x.fa-inverse
									.small-6.medium-12.columns
										h2 LEARN &amp; EARN
									.small-5.medium-12.columns
										h5.spacer= 'spacer'
									.small-12.columns
										p.
											Youth and adults can obtain a bike by putting in 6 Learn &amp; Earn 
											hours working on Adoption Bikes and other TBR projects, which can be 
											aquired during open shop hours and youth hours.
							li.blockgrid-li
								.program(data-equalizer-watch)
									.small-1.medium-12.columns
										span.fa-stack
											i.fa.fa-circle.fa-stack-2x
											i.fa.fa-unlock-alt.fa-stack-1x.fa-inverse
									.small-5.medium-12.columns
										h2 OPEN SHOP
									.small-6.medium-12.columns
										h5 (Mon/Wed 5pm to 8pm)
									.small-12.columns
										p.
											Self-Service Workshop with volunteer staff; 
											come and volunteer, adopt a bike, or Learn &amp; Earn!
							li.blockgrid-li
								.program(data-equalizer-watch)
									.small-1.medium-12.columns
										span.fa-stack
											i.fa.fa-circle.fa-stack-2x
											i.fa.fa-child.fa-stack-1x.fa-inverse
									.small-5.medium-12.columns
										h2 YOUTH SHOP
									.small-6.medium-12.columns
										h5 (Tues. 3pm to 6pm)
									.small-12.columns
										p.
											Specific Hours for youth ages 10-15; 
											Earn-A-Bike for volunteer hours; must have signed permission form from parents.  
											The first Tuesday of every month is Youthshop Ride Club.
							li.blockgrid-li
								.program(data-equalizer-watch)
									.small-1.medium-12.columns
										span.fa-stack
											i.fa.fa-circle.fa-stack-2x
											i.fa.fa-female.fa-stack-1x.fa-inverse
									.small-5.medium-12.columns
										h2 FEM SHOP
									.small-6.medium-12.columns
										h5 (Thur. 5pm to 8pm)
									.small-12.columns
										p.
											Self-service workshop run by and dedicated to empowering, 
											Women, Trans, Fem, Queer and anyone for whom gender has been a barrier in learning bike mechanics.
		include footer