doctype html
html(class="no-js", lang="en")
	include header
	body
		.row.full-width
			#page-splash.small-12.columns
				#splash-title-container
					#splash-title 
						h1 TROY BIKE RESCUE
					#splash-donate-button
						form(action='https://www.paypal.com/cgi-bin/webscr', method='post')
							input(name='cmd', value='_s-xclick', type='hidden')
							input(name='hosted_button_id', value='7G4M6AM26W9T6', type='hidden')
							br
							input(src='/images/donate-button.svg', name='submit', alt='PayPal -The safer, easier way to pay online!', border='0', type='image')
							img(src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', height='1', width='1')
							br
		.row.full-width
			#page-members.small-12.columns
				.row
					.small-3.columns
						.member-picture
						.member-info
							h5 name
							h5 position
		.row.full-width
			#page-programs.small-12.columns
				.row
					h1 COME HANG OUT!
				.row
					.small-12.medium-6.large-3.columns
						span.fa-stack
							i.fa.fa-circle.fa-stack-2x
							i.fa.fa-graduation-cap.fa-stack-1x.fa-inverse
						h2 learn &amp; earn
						p.
							Youth and adults can obtain a bike by putting in 6 Learn &amp; Earn 
							hours working on Adoption Bikes and other TBR projects, which can be 
							aquired during open shop hours and youth hours.
					.small-12.medium-6.large-3.columns
						span.fa-stack
							i.fa.fa-circle.fa-stack-2x
							i.fa.fa-unlock-alt.fa-stack-1x.fa-inverse
						h2 open shop
						h4 (Mon / Wed 5pm to 8pm)
						p.
							Self-Service Workshop with volunteer staff; 
							come and volunteer, adopt a bike, or Learn &amp; Earn!
					.small-12.medium-6.large-3.columns
						span.fa-stack
							i.fa.fa-circle.fa-stack-2x
							i.fa.fa-child.fa-stack-1x.fa-inverse
						h2 youth shop
						h4 (Tues. 3pm to 6pm)
						p.
							Specific Hours for youth ages 10-15; 
							Earn-A-Bike for volunteer hours; must have signed permission form from parents.  
							The first Tuesday of every month is Youthshop Ride Club.
					.small-12.medium-6.large-3.columns
						span.fa-stack
							i.fa.fa-circle.fa-stack-2x
							i.fa.fa-female.fa-stack-1x.fa-inverse
						h2 fem shop
						h4 (Thursday 5pm to 8pm)
						p.
							Self-service workshop run by and dedicated to empowering, 
							Women, Trans, Fem, Queer and anyone for whom gender has been a barrier in learning bike mechanics.
							
		include footer